<div class='stanceInfo' id='stanceInfo'>
  <h5>Increase the TN of Attack and Scheme checks targeting you by 1. If your school rank is 4 or higher, increase the TN by 2 instead.</h5>
  <div class="row">
    <div class="col">
      <h5>Any Check c:</h5><p>If you failed, determine the easiest way to accomplish the task you were attempting (skill and approach).</p>
      <h5>Any Check c+:</h5><p>Remove 1 strife you gained from this check per c spent this way.</p>
      <h5>Any Check cc:</h5><p>Provide assistance (see page 26) to the next character to attempt a check to accomplish something similar.</p>
      <h5>Initiative c:</h5><p>Discover a foe’s Disadvantage (their choice).</p>
      <h5>Conflict c:</h5><p>Add a kept set to a c result to your next Martial check.</p>
      <h5>Conflict c+:</h5><p>During a Movement action check, 1 range band of any distance you move per c spent may be vertical.</p>
    </div>
    <div class="col">
      <h5>Conflict cc:</h5><p>Increase the TN of the next Martial Arts (Ranged) check targeting you before your next turn by 2.</p>
      <h5>Any Check c:</h5><p>Learn a character’s demeanour and current strife.</p>
      <h5>Any Check c+:</h5><p>You are very subtle. Additional c spent this way increase the subtlety of your method.</p>
      <h5>Any Check cc:</h5><p>Observe a detail about a character, or at GM discretion add a small detail to an NPC.</p>
      <h5>Artisan c:</h5><p>If successful, add the Resplendent or Subtle quality to an item you are refining.</p>
      <h5>Scholar c:</h5><p>Learn something about the person who created or used the item you are studying.</p>
    </div>
    <div class="col">
      <h5>Social c:</h5><p>Learn if the Honour, Glory or Status of a character is higher, lower or equal to yours.</p>
      <h5>Trade c:</h5><p>Sell an item for 10% more.</p>
      <h5>Descriptor (Air) c:</h5><p>Act precisely, stealthily, or subtly.</p>
      <h5>Narrative Detail (Air) c:</h5><p>People’s strengths and weaknesses, emotions, small details in objects.</p>
      <h5>Downtime Air Check c+:</h5><p>Learn a detail about one person in your company per c spent. You can only learn one detail about each person this way in a single downtime scene.</p>
      <h5>Downtime Air Check cc:</h5><p>Perform your activity without letting others of your choice know what you did.</p>
    </div>
</div>
