<div class='stanceInfo' id='stanceInfo'>
  <h5>When making Attack and Scheme checks targeting you, other characters cannot spend c to inflict critical strikes or conditions on you.</h5>
  <div class="row">
    <div class="col">
      <h5>Any Check c:</h5><p>If you failed, determine the easiest way to accomplish the task you were attempting (skill and approach).</p>
      <h5>Any Check c+:</h5><p>Remove 1 strife you gained from this check per c spent this way.</p>
      <h5>Any Check cc:</h5><p>Provide assistance (see page 26) to the next character to attempt a check to accomplish something similar.</p>
      <h5>Initiative c:</h5><p>Choose another character’s disadvantage you know, they do not apply it this scene.</p>
      <h5>Conflict c:</h5><p>During a Movement check, ignore one terrain quality of your choice.</p>
      <h5>Conflict c+:</h5><p>Reduce the severity of the next critical strike you suffer before your next turn by 1 per c spent.</p>
    </div>
    <div class="col">
      <h5>Conflict cc:</h5><p>Do not apply one of your disadvantages to checks until the end of your next turn.</p>
      <h5>Any Check c:</h5><p>Reduce another character’s strife by 2.</p>
      <h5>Any Check c+:</h5><p>Act extremely carefully. Additional c spent make the attempt even safer.</p>
      <h5>Any Check cc:</h5><p>Recall a piece of information not related to your check, or at GM discretion reveal a small preparatory action taken earlier.</p>
      <h5>Artisan c:</h5><p>If successful, add the Durable quality to an item you are restoring.</p>
      <h5>Scholar c:</h5><p>Remember a place where you can research the topic you were attempting to recall.</p>
    </div>
    <div class="col">
      <h5>Social c:</h5><p>Increase the TN of another character’s next Social check made before the end of the scene by 1.</p>
      <h5>Trade c:</h5><p>Reduce the TN of another character’s next check made with the same skill before the end of the scene by 1.</p>
      <h5>Descriptor (Earth) c:</h5><p>Act cautiously, calmly, or thoroughly.</p>
      <h5>Narrative Detail (Earth) c:</h5><p>Your own memories, history of people and objects, defensive positions.</p>
      <h5>Downtime Earth Check c+:</h5><p>Another character in your company may remove 1 strife or fatigue per c spent.</p>
      <h5>Downtime Earth Check cc:</h5><p>  Memorize a small but vital detail from your activity, you can recall it without a check.</p>
    </div>
</div>
