<div class='stanceInfo' id='stanceInfo'>
  <h5>When you succeed on a check, you count as having 1 additional bonus success for each b symbol on your kept dice.</h5>
  <div class="row">
    <div class="col">
      <h5>Any Check c:</h5><p>If you failed, determine the easiest way to accomplish the task you were attempting (skill and approach).</p>
      <h5>Any Check c+:</h5><p>Remove 1 strife you gained from this check per c spent this way.</p>
      <h5>Any Check cc:</h5><p>Provide assistance (see page 26) to the next character to attempt a check to accomplish something similar.</p>
      <h5>Initiative c:</h5><p>Use your focus instead of your vigilance when surprised.</p>
      <h5>Conflict c:</h5><p>Increase the TN of another character’s next check by 1 if it does not target you.</p>
      <h5>Conflict c+:</h5><p>Increase the TN of the next check a character makes to resist a critical strike before your next turn by 1 per c spent.</p>
    </div>
    <div class="col">
      <h5>Conflict cc:</h5><p>Characters must suffer 2 strife to choose you as the target of Attack/Scheme actions until your next turn.</p>
      <h5>Any Check c:</h5><p>Inflict 2 Strife on another character.</p>
      <h5>Any Check c+:</h5><p>You are impressive and flashy. Additional c spent make you even more noticeable.</p>
      <h5>Any Check cc:</h5><p>You notice a missing detail not related to your check. At GM discretion you can create an absence in the scene.</p>
      <h5>Artisan c:</h5><p>If you succeed, make an extra copy of an item you are creating.</p>
      <h5>Scholar c:</h5><p>Discern a characters motivations or desires.</p>
    </div>
    <div class="col">
      <h5>Social c:</h5><p>Reduce the TN of another character’s next Social check by 1.</p>
      <h5>Trade c:</h5><p>Add a kept set to a c result to the next check you make with another skill.</p>
      <h5>Descriptor (Fire) c:</h5><p>Act creatively, fearsomely, or noticeably.</p>
      <h5>Narrative Detail (Fire) c:</h5><p>People’s motivations, flashes of insight, conspicuous absences.</p>
      <h5>Downtime Fire Check c+:</h5><p>Assist one other character per c spent with their next downtime activity this session.</p>
      <h5>Downtime Fire Check cc:</h5><p>Energise a fellow character. They may perform a second downtime activity (max 2).</p>
    </div>
</div>
