<div class='stanceInfo' id='stanceInfo'>
  <h5>You do not suffer strife from b results on kept dice.</h5>
  <div class="row">
    <div class="col">
      <h5>Any Check c:</h5><p>If you failed, determine the easiest way to accomplish the task you were attempting (skill and approach).</p>
      <h5>Any Check c+:</h5><p>Remove 1 strife you gained from this check per c spent this way.</p>
      <h5>Any Check cc:</h5><p>Provide assistance (see page 26) to the next character to attempt a check to accomplish something similar.</p>
      <h5>Initiative c:</h5><p>Sense if there is an otherworldly being present in the scene.</p>
      <h5>Conflict c:</h5><p>During your next Attack action, ignore one terrain quality of your choice.</p>
      <h5>Conflict c+:</h5><p>During a Support check increase your initiative by 1 per c spent.</p>
    </div>
    <div class="col">
      <h5>Conflict cc:</h5><p>Ignore the effects of one condition you are suffering until the end of your next turn.</p>
      <h5>Any Check c:</h5><p>Name another ring, if your next check uses that ring reduce its TN by 1.</p>
      <h5>Any Check c+:</h5><p>Detect a sign of the supernatural, more c spent reveal a more precise location.</p>
      <h5>Any Check cc:</h5><p>Gain insight into the nature of the universe or your own heart. At GM Discretion, Reveal an as yet unknown fact about your character that relates to the current situation.</p>
      <h5>Artisan c:</h5><p>Reduce the TN of your next check to use the item you are attuning to by 1.</p>
      <h5>Scholar c:</h5><p>Realize whether or not the angle of inquiry under investigation is worthwhile.</p>
    </div>
    <div class="col">
      <h5>Social c:</h5><p>Learn another character’s objective.</p>
      <h5>Trade c:</h5><p>Reduce your effects on the environment (and physical traces of your efforts) to a minimum.</p>
      <h5>Descriptor (Void) c:</h5><p>Act instinctively, inscrutably, or sagely.</p>
      <h5>Narrative Detail (Void) c:</h5><p>Supernatural presences, flashes of premonition, instinctive warnings.</p>
      <h5>Downtime Void Check c+:</h5><p>Reserve 1 or more dropped dice from your check up to you ranks in that skill. Add these dice as a kept die to the next check with the same skill.</p>
      <h5>Downtime Void Check cc:</h5><p>Have a brief premonition of a possible future event.</p>
    </div>
</div>
