<div class='stanceInfo' id='stanceInfo'>
  <h5>During your turn, you may perform 1 additional action that does not require a check. This action cannot share the same type (Attack, Support, Scheme, Movement) with another action you perform this turn.</h5>
  <div class="row">
    <div class="col">
      <h5>Any Check c:</h5><p>If you failed, determine the easiest way to accomplish the task you were attempting (skill and approach).</p>
      <h5>Any Check c+:</h5><p>Remove 1 strife you gained from this check per c spent this way.</p>
      <h5>Any Check cc:</h5><p>Provide assistance (see page 26) to the next character to attempt a check to accomplish something similar.</p>
      <h5>Initiative c:</h5><p>Assess all terrain qualities in the scene.</p>
      <h5>Conflict c:</h5><p>Remove 1 fatigue.</p>
      <h5>Conflict c+:</h5><p>During an Attack action ignore 1 point of physical resistance per c spent.</p>
    </div>
    <div class="col">
      <h5>Conflict cc:</h5><p>Move 1 range band</p>
      <h5>Any Check c:</h5><p>Recover 2 Strife.</p>
      <h5>Any Check c+:</h5><p>You perform the task efficiently. Additional c spent reduce time and materials needed.</p>
      <h5>Any Check cc:</h5><p>Spot a physical detail not related to your check or at GM discretion add a (previously unnoticed) area of terrain or mundane item to your location.</p>
      <h5>Artisan c:</h5><p>Add a kept set to a c result to the next Artisan check made this session.</p>
      <h5>Scholar c:</h5><p>Spot a unique or identifying quality, aspect or ability of something you are identifying.</p>
    </div>
    <div class="col">
      <h5>Social c:</h5><p>Add a kept set to a c result to your next Social check before the end of the scene.</p>
      <h5>Trade c:</h5><p>When buying an item get a 10% discount.</p>
      <h5>Descriptor (Water) c:</h5><p>Act efficiently, flexibly, or gregariously.</p>
      <h5>Narrative Detail (Water) c:</h5><p>Environmental dangers, presence of useful terrain or objects, escape routes.</p>
      <h5>Downtime Water Check c+:</h5><p>Recover 1 strife or fatigue per c spent.</p>
      <h5>Downtime Water Check cc:</h5><p>Make a new friend while undertaking your downtime activity.</p>
    </div>
</div>
