@import '~bootstrap/scss/bootstrap';

.diceImage {
  border: 5px;
  height: 45px;
  margin: 5px;
  width: 45px;
}

.sectionBox {
  background: #808080;
  border-radius: 25px;
  height: 400px;
  width: 33%;
  margin: 25px;
  overflow: scroll;
  text-align: center;
}

.diceTime {
  display: inline-block;
}

.kept {
  border: 1px solid black;
  outline-style: solid;
  outline-color: red;
}
